{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(assets|components|config|contexts|icons|modules|navigation|screens|shared|theme)/?",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
